body {
  margin: 8px;
  display: block;
  background-color: rgb(26, 25, 25);
  font-family: "Quicksand" sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: azure;
}

header {
  text-align: center;
  padding: 12px;
  text-shadow: 5px 5px 10px grey;
  color: #cee3ce;
  font-family: "DM Serif Text", serif;
}

h2 {
  color: #fff;
}
#mainHeading {
  font-size: 0px;
  color: red;
}

p {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 20px;
  text-shadow: 5px 5px 10px grey;
  color: white;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0px 0px 10px;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-size: 25px;
}

article {
  text-align: center;
  font-size: medium;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-content: space-evenly;
  max-width: 800px;
}

img {
  display: block;
  width: 100%;
  padding-bottom: 5px;
  opacity: 70%;
  transition: 0.3s ease-out;
  filter: saturate(1);
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.imageOverlay--blur {
  backdrop-filter: blur(5px);
}

.imageOverlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.imageOverlay:hover {
  opacity: 1;
}

.imageOverlay:hover > * {
  transform: translateY(0);
}

.singleHover {
  position: relative;
}
.plantName {
  font-size: 1em;
  font-family: "DM Serif Text", serif;
  text-shadow: 5px 5px 10px grey;
}

.imageDescription {
  font-size: 0.5em;
  margin-top: 0.25em;
  text-align: center;
}

#testP {
  color: green;
  text-shadow: 5px 5px 10px;
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}
.credit {
  text-align: center;
  z-index: 999;
  font-size: 0.8rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.credit a {
  color: #fff;
}
