body {
  margin: 8px;
  display: block;
  background-color: rgb(0, 0, 0);
  font-family: "Nunito", sans-serif;
  font-size: large;
  font-weight: 400;
  color: azure;
}

header {
  text-align: center;
  padding: 32px;
}

#mainHeading {
  filter: brightness(80%);
  text-shadow: 5px 5px 10px grey;
  color: red;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0px 0px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
  justify-content: space-evenly;
}
.credit {
  text-align: center;
  z-index: 999;
  font-size: 0.8rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.credit a {
  color: #fff;
}
